.bg-base {
    background: purple;
}
.radios-base {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.h-200 {
    height: 200px;
}
.w-200 {
    width: 200px;
}
.w-350 {
    width: 350px;
}
.h-300 {
    height: 300px;
}
.w-500 {
    width: 500px;
}
.round {
    border-radius: 50%;
}
.m-10 {
    margin: 10px;
}
.m-25 {
    margin: 25px;
}
